.char__card {
    margin-bottom: 20px;
    background: rgba(255, 255, 255, 0.8); 
    border: 1px solid rgba(255, 190, 236, 0.4); 
    box-shadow: 0 8px 24px rgba(255, 94, 188, 0.205); 
    border-radius: 20px; 
    width: 300px; 
    height: 200px; 
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    &__content {

        height: 10%;
        padding-left: 4%;

        &--title {
            font-size: 20px;
            color: rgb(0, 0, 0);
            font-family: 'Roboto', sans-serif;
            margin-bottom: 2%;
            text-align: center;
        }
        &--details {
            margin-top:30px;
            font-size: 15px;
            font-family:'Roboto', sans-serif;
            &--gender {
                margin-bottom: 5px;
            }
            &--species {
                margin-bottom: 5px;
            }
           // &--status {

            
        }
    }

    &__footer {
        display: flex;
        height: 11%;
        justify-content: right;
        &--btn {
            width: 110px;
            height: 140%;
            margin-top: 1px;
            border-radius: 25px;
            box-shadow: 0 8px 24px rgba(255, 201, 241, 0.788);
            text-align: center;
            font-size: 20px;
            color: rgb(0, 0, 0);
            border: none;
            background-color: aqua;
            display: flex;
            justify-content: center;
            align-items: anchor-center;
            cursor: pointer;
            font-family: 'Roboto', sans-serif;

            &:active {
                animation: press 0.2s ease forwards;
            }
        }
    }

    &:hover {
        animation: float 0.5s ease forwards;
    }
}